.cardGymL {
  text-decoration: none;
  color: white;
}

.main_div {
  border: 1px solid white;
  padding: 1vmax;
  margin: 1vmax;
}
.sub_main_div {
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
}
.element_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_btn {
  background-color: #780101e2;
  color: white;
  width: 7vmax;
}

.card_image {
  width: 100%;
}
.card_footerDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
